<strong>Olá, {{ name }} </strong>
<p>A retirada do produto {{ product }} foi cancelada.</p>
<p>
  <br />
  <small>
    Qualquer duvída por favor entrar em contato por meio de qualquer um dos nossos canais de atendimento.
  </small>

</p>
