<strong>Olá, {{ name }} </strong>
<p>O produto {{ product }} está disponível para retirada.</p>
<p>
  <br />
  <small>
    Qualquer duvída por favor entrar em contato por meio de qualquer um dos nossos canais de atendimento.
  </small>

</p>
